
				<% content_for :title, "Edit Customer" %>


             	<!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-7">
                            <h1 class="page-heading animated zoomIn">
                                Edit Customer <small>Edit Existing Customer Data.</small>
                            </h1>
                        </div>
                        <div class="col-sm-5 text-right hidden-xs">
                            <ol class="breadcrumb push-10-t">
                                <li>Dashbord</li>
                                <li><a class="link-effect" href="">Edit Customer</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END Page Header -->

                <!-- Page Content -->
                <div class="content">
                	<div class="row">
                        <div class="col-md-12">
							<div class="block">
		                        <div class="block-header">
		                            <ul class="block-options">
										<li>
											<button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
										</li>
										<li>
											<button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
										</li>
									</ul>
		                            <h3 class="block-title">Customer Form <small>Requierd</small></h3>
		                        </div>
		                        <div class="block-content block-content-narrow">									
									<div class="row">
										<div class="col-md-6 col-md-offset-3">
											<%= form_for @customer, :html=>{:class=>'form-horizontal push-10-t'} do|f| %>
												<div class="form-group">
				                                    <label class="col-xs-12" for="example-password-input">Name</label>
													<div class="col-sm-12">
			                                        	<%= f.text_field :customer_name, :class=>'form-control', :placeholder=>"Enter Customer Name", :required=>''  %>		
				                                    </div>
				                                </div>										
			                                	<div class="form-group">
				                                    <label class="col-xs-12" for="example-password-input">Email</label>
													<div class="col-sm-12">                                           
				                                        <%= f.text_field :customer_email, :class=>'form-control', :placeholder=>"Enter Customer Email", :type=>'email', :required=>''  %>		
				                                    </div>
				                                </div>
				                                <div class="row">
					                                <div class="col-md-6">
					                                	<div class="form-group">
						                                    <label class="col-xs-12" for="example-password-input">Phone Number</label>
															<div class="col-sm-12">                                           
						                                       	<%= f.text_field :customer_phone, :class=>'form-control', :placeholder=>"Enter Customer Phone", :required=>''  %>
						                                    </div>
						                                </div>
					                                </div>
					                                <div class="col-md-6">
						                                <div class="form-group">
						                                    <label class="col-xs-12" for="example-password-input">Sex</label>
															<div class="col-sm-12"> 
				                                        	<%= f.select :customer_sex, options_for_select([ 'Male', 'Female'], :selected => f.object.customer_sex), {:include_blank => false}, {:class=>'form-control'} %>
				                                            </div>
						                                </div>
				                                	</div>				                                	
				                                </div>    
				                                <div class="form-group">
				                                    <label class="col-xs-12" for="example-password-input">Address</label>
													<div class="col-sm-12">                                           
				                                        <%= f.text_area :customer_address, :class=>'form-control', :placeholder=>"Enter Customer Address", :required=>''  %>
				                                    </div>
				                                </div>
				                                <div class="form-group">
				                                    <div class="col-sm-12">
				                                        <%= f.submit :class=>'btn btn-sm btn-primary', :value=>'submit' %>
				                                    </div>
				                                </div>
		                            		<% end %>
		                            	</div>	
		                            </div>		
		                        </div>
		                    </div>
		                </div>
		            </div>        
                </div>    
  

